<div class='wrapper'>
    <a [routerLink]='["/"]'>Home</a>
    <form (submit)='onSubmit()'>
      <div class='errors' *ngIf='errors'>
          <p class="errs" *ngFor='let e of errors'>{{e.message}}</p>
      </div>
      Pet Name: <br> 
      <input type="text" name='name' [(ngModel)]='pet.name'><br>
      Pet Type: <br>
      <input type="text" name='type' [(ngModel)]='pet.type'><br>
      Description: <br>
      <input type="text" name='description' [(ngModel)]='pet.description'><br>
      Skills:
      <ul>
        <li>
          Skill 1: <br>
          <input type="text" name='skill1' [(ngModel)]='pet.skill1'><br>
        </li>
        <li>
          Skill 2: <br>
          <input type="text" name='skill2' [(ngModel)]='pet.skill2'><br>
        </li>
        <li>
          Skill 3: <br>
          <input type="text" name='skill3' [(ngModel)]='pet.skill3'><br>
        </li>
      </ul>
      <button [routerLink]='["/"]'>Cancel</button>
      <input type="submit" value='Submit'>
    </form>
  </div>